.main{
    width: 100%;
    min-height: 250px;
}

.user_content{
    width: 700px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid var(--brown);
    border-bottom: none;
    margin-bottom: 20px;
}

.wrapper{
    border-top: 2px solid var(--brown);
}

.user_header{
    font-size: 1.5rem;
    line-height: 50px;
    height: 50px;
    margin-left: 15px;
}

.user{
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 70px 70px 70px 130px 180px 100px 70px;
    border-bottom: 2px solid var(--brown);
}

.user_email{
    max-width: 165px;
    padding-right: 5px;
    padding-left: 5px;
}

.user div{
    width: 100%;
    height: fit-content;
    margin: auto;
    text-align: center;
    word-break: break-all;
    border-right: 2px solid var(--brown);
}

@media screen and (max-width: 767px){
    .user_content{
        width: 300px;
    }

    .user{
        grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
        grid-template-columns: 250px;
        padding-left: 25px;
    }
}