html{
    --body-bg: #E5E5E5;
    --white: #fff;
    --beige: #FBF6F0;
    --brown: #270515;
    --blue: #ABC0DB;
}

html[data-theme='dark'] {
    --body-bg: #302929;
    --white: #564040;
    --beige: #453a2d;
    --brown: #b47b45;
    --blue: #3b587f;
}

body{
    background: var(--body-bg);
    margin: 0;
}

#white{
    background: var(--white);
}

#beige{
    background: var(--beige);
}

.button{
    border: 2px solid var(--brown);
    background: var(--brown);

    display: flex;
    justify-content: center;

    color: var(--white);
    text-align: center;
    font-family: Roboto, monospace;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}

.content{
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
    max-width: 1200px;
    width: fit-content;
    height: fit-content;
    display: grid;

    color: var(--brown);
    font-family: Roboto, monospace;
}

header{
    width: 100%;
    height: 75px;
    display: grid;
    padding-bottom: 5px;
    grid-template-rows: 80px;
    grid-template-columns: 14% 12.5% 12.5% 50% 5% 5% auto;
    align-items: center;
}

#logo{
    object-fit: cover;
    width: 100%;
    height: 22px;
    margin: auto;
}

#dark_theme{
    margin: auto;

    width: 90%;
    height: 32px;
}

.for_mobile{
    display: none;
}

#lang{
    margin: auto;

    width: 90%;
    height: 32px;
}

a{
    text-decoration: none;
    color: var(--brown);
}

.menu_el{
    padding-left: 10px;
    text-align: right;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.1375rem; /* 130% */
    text-transform: uppercase;
    display: inline;
}

#menu{
    margin: auto;
    margin-top: 19px;
}

#menu_b{
    display: none;
}

.menu_list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#user_photo{
    width: 22px;
    height: 22px;
    z-index: 3;

    margin: auto;
}

.cart{
    position: relative;
    margin: auto;
    z-index: 1;
}

#shopping_cart{
    width: 22px;
    height: 22px;

    margin: auto;
}

#cart_num{
    position: absolute;
    z-index: 2;
    right: 50%;
    top: 0;
    background: var(--blue);
    height: 18px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: var(--white);
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
}

#burger-menu{
    display: none;
    background: var(--white);
    position: relative;
    height: 40px;
    width: 40px;
    border: none;

    margin: auto;
    right: 10px;
}

#burger-menu span{
    position: absolute;
    left: 5px;
    width: 30px;
    height: 3px;
    background: var(--brown);
    transition: transform .5s, opacity .5s;
}

#burger-menu span:nth-child(1){
    transform: translateY(-10px);
}

#burger-menu span:nth-child(3){
    transform: translateY(10px);
}

header.open #burger-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

header.open #burger-menu span:nth-child(2){
    opacity: 0;
}

header.open #burger-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

footer{
    width: 100%;
    height: 400px;
}

.links_block{
    display: flex;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    margin-top: 10px;
}

.links{
    display: inline-block;
    margin-left: 66px;
    margin-top: 81px;
}

.community{
    display: inline-block;
    margin-left: 105px;
    margin-top: 79px;
}

.contacts{
    display: inline-block;
    margin-left: 115px;
    margin-top: 83px;
}

.join{
    display: inline-block;
    margin-top: 80px;
    margin-left: 50px;
    width: 250px;
}

.rights{
    display: block;

    margin-top: 26.5px;
    margin-left: -7px;

    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.975rem;
}

@media screen and (max-width: 1200px){
    .content{
        max-width: 768px;
        margin: 0 auto;
    }

    header, footer{
        width: 768px;
    }

    header{
        grid-template-columns: 20% 12.5% 12.5% 34% 7% 7% 7%;
        position: relative;
        align-items: center;
    }

    #user_photo{
        z-index: 1;
    }

    #burger-menu{
        z-index: 1;
        display: block;
    }

    #menu{
        visibility: hidden;
    }

    #menu_b{
        display: none;
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0;
        top: 0;
        padding-bottom: 10px;
        padding-top: 70px;
        padding-right: 30px;
        background: var(--body-bg);
        transition: transform .5s;
    }

    .menu_list{
        display: block;
    }

    .menu_el{
        display: block;
        margin: 0;
    }

    header.open #menu_b{
        display: block;
        right: -231px;
        transform: translateX(-100%);
    }

    header.open #burger-menu{
        background-color: var(--body-bg);
    }

    .links_block {
        display: grid;
        grid-template-columns: 25% 15% 35% 25%;
    }

    .links, .community, .contacts, .join {
        margin: auto;
        margin-top: 15px;
    }
    .join{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .content{
        min-width: 320px;
        width: 320px;
        margin: 0 auto;
    }

    header, footer{
        width: 320px;
    }

    header{
        grid-template-columns: 50% 15% 15% 20%;
        position: relative;
        align-items: center;
    }

    #menu{
        display: none;
    }

    #menu_b{
        height: 210px;
    }

    .usual{
        display: none;
    }

    .for_mobile{
        display: inline-block;
    }

    #dark_theme{
        height: 30px;
        width: 100px;
        margin-left: 10px;
    }

    #lang{
        height: 30px;
        width: 70px;
        margin: auto;
    }

    footer{
        min-height: 200px;
        height: fit-content;
    }

    .links_block{
        min-height: 200px;
        grid-template-columns: 100%;
    }

    .links_block ul{
        display: none;
    }

    .links, .community, .contacts, .join{
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
    }

    .footer_arrow{
        position: relative;
        width: 40px;
        height: 20px;
        display: inline-block;
    }

    .footer_arrow span{
        position: absolute;
        top:0;

        width: 15px;
        height: 3px;
        background: var(--brown);
    }

    .footer_arrow span:nth-child(1){
        transform: rotate(45deg) translateY(15px) translateX(1px);
    }

    .footer_arrow span:nth-child(2){
        transform: rotate(-45deg) translateY(7px) translateX(-8px);
    }

    .links_block .open ul{
        display: block;
    }
}