.big_section{
    width: 100%;
    height: 605px;
}

#find_routine{
    width: 400px;

    margin: auto;
    margin-top: 172px;
    
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.2rem;
}

#shop_now{
    margin: 0 auto;
    margin-top: 74px;

    height: 43px;
    width: 133px;

    line-height: 2.65rem;
}

.awards_slider{
    width: 100%;
    height: 300px;
}

.awards_slider .swiper{
    width: 900px; 
    height: 220px;

    margin-top: 60px;
}

.award{
    display: grid;
    grid-template-rows: 120px;
}

.award_img{
    margin: auto;
    width: 120px;
}

.award_p{
    width: 230px;
    margin: auto;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem;
}

.products{
    display: flex;
    width: 100%;
    height: 520px;
}

.prod_img{
    display: block;
    height: 333px;
    object-fit: cover;
    width: 100%;
}

#quick_view{
    height: 40px;
    padding-top: 3px;
}

#product_block{
    margin-top: 51px;
    margin-left: 50px;

    text-align: center;

    width: 333.5px;
}

.prod_name{
    margin-top: 5px;

    font-size: 1.125rem;
    letter-spacing: 0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4625rem;
}

.review_num{
    margin-top: -25px;

    font-size: 0.9375rem;
    letter-spacing: 0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

.prod_cost{
    margin-top: -10px;

    font-family: "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem;
}

.single_review{
    width: 100%;
    height: 173px;
    text-align: center;
}

.big_text{
    margin-top: 35px;

    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem;
    letter-spacing: -0.2rem;
}

.big_author{
    margin-top: -10px;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40625rem;
    letter-spacing: -0.1rem;
}

.eco_bottle{
    display: flex;
    width: 100%;
    height: 713px;
}

.info{
    margin: 0;
    display: inline-block;
    width: 600px;

    text-align: center;
    padding: 0;
}

.little_name{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.975rem; /* 130% */
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
}

.little_name.eco_first{
    margin-top: 47px;
    margin-left: 10px;
}

.big_take{
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
}

.big_take.eco_first{
    margin: auto;
    margin-top: 35px;
    width: 90%;
}

.p1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.4px; 
}

.p2{
    margin-left: auto;
    margin-right: auto;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40625rem;
    letter-spacing: -0.05rem;
}

.p2.eco_first{
    margin-top: 27px;
    width: 440px;
}

.p2.eco_second{
    margin-top: 30px;
    width: 450px;
}

.p2.pros_list{
    width: 465px;
    margin-top: 23px;
}

.sep{
    width: 10px;
    height: 10px;
}

#shop_hair_n_body{
    margin: auto;

    margin-top: 32.5px;
    height: 39.5px;
    min-width: 194px;
    width: fit-content;

    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#eco_bottle{
    margin: 0;
    display: inline-block;
    height: 713px;
    width: 599px;
    object-fit: cover;
}

.advantages{
    display: flex;
    width: 100%;
    height: 464.5px;
}

.adv_block{
    width: 338px;
    display: inline-block;
    margin-top: 58px;
}

.adv_block.first{
    margin-left: 50px;
}

.adv_block.second{
    margin-left: 40px;
}

.adv_block.third{
    margin-left: 39.5px;
}

.adv_img{
    display: block;
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.button.summary{
    padding-top: 3px;

    border: none;
    width: 100%;
    font-family: Roboto, sans-serif;
    height: 38px;
    background: var(--blue);
    color: var(--brown);
    text-transform: none;
}

.text.summary{
    margin-top: 17px;
    text-align: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem;
}

.photos_n_buttons{
    width: 100%;
    height: 2607px;
}

.photo_n_btn_block{
    display: flex;
    width: 100%;
}

.info.n_btn{
    display: inline-block;
    height: 649px;
}

.photo{
    width: 600px;
    display: inline-block;
    object-fit: cover;
}

.photo.first{
    height: 658px;
}

.photo.second{
    height: 649px;
}

.photo.third{
    height: 651px;
}

.photo.fourth{
    height: 649.5px;
}

.little_name.first{
    margin-top: 98.5px;
}

.big_take.first{
    width: 90%;
    margin: auto;
    margin-top: -5px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.first{
    width: 450px;
    margin-top: 37px;
    margin-left: 75px;
}

.p2.first{
    width: 490px;
    margin-top: 35px;
}

.button.first{
    margin: auto;
    margin-top: 57.5px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    height: 38px;
    min-width: 218px;
    width: fit-content;
}

.little_name.second{
    margin-top: 102px;
}

.big_take.second{
    margin-top: -11px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.second{
    width: 450px;
    margin-top: -35px;
    margin-left: 75px;
}

.p2.second{
    width: 490px;
    margin-top: -7px;
}

.button.second{
    margin: auto;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 41.5px;
    padding-top: 4px;
    height: 39px;
    min-width: 169px;
}

.little_name.third{
    margin-top: 115px;
}

.big_take.third{
    margin-top: -11px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.third{
    width: 450px;
    margin-top: -35px;
    margin-left: 75px;
}

.p2.third{
    width: 480px;
    margin-top: -7px;
}

.button.third{
    margin: auto;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 41.5px;
    padding-top: 4px;
    height: 38px;
    min-width: 151px;
}

.little_name.fourth{
    margin-top: 80px;
}

.big_take.fourth{
    margin-top: 2px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.fourth{
    width: 400px;
    margin-top: -45px;
    margin-left: 100px;
}

.p2.fourth{
    width: 490px;
    margin-top: -7px;
}

.button.fourth{
    margin: auto;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 62px;
    padding-top: 4px;
    height: 39px;
    min-width: 151px;
}

.hair_slider{
    width: 100%;
    height: 485px;
}

.hair_slider .swiper{
    margin-left: 50px;
    margin-top: 70px;
    width: 1100px;
    height: 390px;
}

.hair_img{
    width: 300px;
}

.eco_vision{
    background-image: url("../source/eco_background.jpeg");
    width: 100%;
    height: 691px;
}

.eco_info{
    text-align: center;
    margin-top: 75px;
    margin-left: 366px;
    padding-top: 40px;
    width: 468px;
    height: 501px;
}

.big_take.eco{
    margin-top: -10px;
    font-size: 3.5rem;
}

.p2.eco{
    width: 410px;
    margin-top: -25px;
}

.p2.eco2{
    width: 400px;
    margin-top: 25px;
}

.button.eco{
    margin: auto;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 64px;
    padding-top: 4px;

    min-width: 158.5px;
    height: 39px;
}

.eco_pins_slider{
    width: 100%;
    height: 300px;
}

.eco_pins_slider .swiper{
    margin: 0 auto;
    margin-top: 95px;
    width: 800px;
    height: 160px;
}

.pin{
    width: 160px;
    height: 150px;
}

.pin_img{
    height: 120px;
}

@media screen and (max-width: 1200px) {
    /**/
    header, .big_section, .awards_slider, .products, .single_review,
    .eco_bottle, .advantages, .photos_n_buttons, .hair_slider, .eco_vision,
    .eco_pins_slider, footer{
        width: 768px;
    }

    .awards_slider .swiper {
        width: 700px;
        margin: auto;
        margin-top: 60px;
    }

    #product_block, .adv_block {
        margin: auto;
        margin-top: 20px;
        width: 30%;
    }

    .big_text {
        margin-top: 20px;
    }

    .big_author {
        margin-top: -20px;
    }

    .eco_bottle {
        flex-direction: column-reverse;
    }

    .info {
        width: 100%;
        height: 50%;
    }

    #eco_bottle {
        height: 50%;
        width: 100%;
    }

    .little_name.eco_first {
        margin-top: 27px;
    }

    .big_take.eco_first {
        margin-top: 5px;
        /* margin-left: 10px; */
    }

    .p2.eco_second, .p2.pros_list {
        display: none;
    }

    #shop_hair_n_body {
        margin: auto;
        margin-top: 25px;
    }

    .adv_block.first, .adv_block.second, .adv_block.third{
        margin: auto;
    }

    .photo.first, .photo.second, .photo.third, .photo.fourth{
        height: 50%;
        width: 100%;
        order: 1;
    }

    .photo_n_btn_block {
        height: 25%;
        flex-direction: column;
    }

    .info.n_btn{
        height: 50%;
        width: 100%;
        order: 2;
    }

    .little_name.first, .little_name.second, .little_name.third, .little_name.fourth {
        margin: auto;
        margin-top: 15px;
    }

    .big_take.first, .big_take.second, .big_take.third, .big_take.fourth{
        font-size: 3rem;
    }

    .p1.first, .p1.second, .p1.third, .p1.fourth {
        width: 80%;
        margin: auto;
        margin-top: -37px;
    }

    .p2.first, .p2.second, .p2.third, .p2.fourth {
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    .button.first, .button.second, .button.third, .button.fourth {
        height: auto;
        padding: 0;
        width: 20%;
        margin: auto;
        margin-top: 15px;
    }

    .hair_slider .swiper {
        margin: auto;
        margin-top: 70px;
        width: 700px;
    }

    .eco_info {
        text-align: center;
        margin: auto;
        margin-top: 70px;
    }

    .eco_pins_slider .swiper{
        margin: auto;
        margin-top: 70px;
        width: 700px;
    }
}

@media screen and (max-width: 767px) {
    header, .big_section, .awards_slider, .products, .single_review,
    .eco_bottle, .advantages, .photos_n_buttons, .hair_slider, .eco_vision,
    .eco_pins_slider, footer{
        width: 320px;
    }

    .big_section{
        height: 500px;
    }

    #find_routine {
        width: 100%;
        margin: auto;
        margin-top: 150px;
        font-size: 1.5rem;
    }

    .awards_slider .swiper {
        width: 100%;
        margin: auto;
        margin-top: 60px;
    }

    .products, .advantages{
        flex-direction: column;
        height: 1290px;
    }
    
    .prod_img, .adv_img{
        height: 250px;
    }

    #product_block, .adv_block{
        width: 90%;
    }

    .big_text {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .little_name.eco_first {
        margin-top: 7px;
    }

    .big_take.eco_first {
        margin-top: 5px;
        font-size: 2.7rem;
        line-height: normal;
    }

    .p2.eco_first{
        width: 90%;
    }

    .p2.eco_second, .p2.pros_list {
        display: none;
    }

    .little_name.first, .little_name.second, .little_name.third, .little_name.fourth {
        margin: auto;
        margin-top: 25px;
    }

    .big_take.first, .big_take.second, .big_take.third, .big_take.fourth{
        font-size: 2.5rem;
        line-height: normal;
        margin-top: 10px;
    }

    .p1.first, .p1.second, .p1.third, .p1.fourth {
        display: none;
    }

    .p2.first, .p2.second, .p2.third, .p2.fourth {
        width: 99%;
        font-size: 0.65rem;
        margin: auto;
        margin-top: -25px;
    }

    .button.first, .button.second, .button.third, .button.fourth {
        height: auto;
        padding: 0;
        width: 40%;
        margin: auto;
        margin-top: 10px;
    }

    .hair_slider .swiper-slide{
        width: 100%;
        height: 270px;
    }

    .hair_slider{
        height: 320px;
    }

    .hair_slider .swiper{
        width: 320px;
        margin-top: -70px;
    }

    .hair_img{
        width: 200px;
        margin-left: 60px;
        margin-top: 100px;
    }

    .hair{
        width: 320px;
    }

    .eco_info {
        width: 84%;
        height: 515px;
        text-align: center;
        margin: auto;
        margin-top: 70px;
    }

    .little_name.eco{
        margin-top: -10px;
    }

    .p2.eco, .p2.eco2{
        width: 85%;
    }

    .button.eco{
        margin: auto;
        margin-top: 5px;
    }

    .eco_pins_slider .swiper{
        width: 100%;
    }

    .pin_img{
        margin-left: 100px;
    }
}