.login{
    height: 500px;
    width: 100%;
}

.sign_in{
    height: fit-content;
    width: 100%;
}

form, .create_acc, .return_to_store{
    height: 200px;
    width: 600px;
    margin: auto;
    margin-top: 120px;
}

form{
    height: fit-content;

}

.login_label{
    font-size: 26px;
}

.input-box{
    position: relative;
}

input{
    width: 100%;
    height: 45px;
    margin-top: 13px;
    font-size: 16px;
    border-color: var(--brown);
}

#generatePass{
    width: 30px;
    height: 30px;
}

#gener{
    font-size: larger;
    left: 47px;
    top: 80px;
    position: absolute;
}

#sign_in, #create{
    width: 140px;
    height: 60px;
    margin-top: 13px;
}

.create_acc, .return_to_store{
    display: block;
    font-size: 20px;
    margin-top: 60px;
}

.return_to_store{
    margin-top: 45px;
    height: 70px;
}

.input-box .error-label{
    color: red;
}

.error input{
    border-color: red;
}

@media screen and (max-width: 767px) {
    .login{
        width: 320px;
        height: 450px;
    }

    .sign_in{
        min-height: 750px;
    }

    form, .create_acc, .return_to_store{
        width: 80%;
        margin-top: 50px;
    }

    .return_to_store{
        margin-top: 45px;
    }

    .create_acc{
        margin-top: 80px;
    }
}