body.overflow{
    overflow: hidden;
}

.login{
    height: fit-content;
    width: 100%;
}

.modal_close{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 30px;
    top: 10px;
    height: 40px;
    width: 40px;
    border: none;

    margin: auto;
    right: 10px;
}

.modal_close:hover{
    cursor: pointer;
}

.modal_close span{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 3px;
    background: var(--brown);
    transition: transform .5s, opacity .5s;
}

.modal_close span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.modal_close span:nth-child(2){
    transform: translateY(0) rotate(-45deg);
}

.login_box{
    width: 80%;
    margin: auto;
}

.login_btn, .sign_in_btn{
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    margin-bottom: 15px;
    font-size: larger;
    width: fit-content;
}

.sign_in{
    height: fit-content;
    width: 100%;
}

.modal{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    visibility: hidden;
}

.modal.open{
    visibility: visible;
}

.modal_box{
    position: relative;
    width: fit-content;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

form, .create_acc, .return_to_store{
    height: 200px;
    width: 600px;
    margin: auto;
}

form{
    height: fit-content;
}

.login_label{
    font-size: 26px;
}

.input-box{
    position: relative;
}

input{
    width: 100%;
    height: 45px;
    margin-top: 13px;
    font-size: 16px;
    border-color: var(--brown);
}

#generatePass{
    width: 30px;
    height: 30px;
}

#gener{
    font-size: larger;
    left: 47px;
    bottom: -37px;
    position: absolute;
}

#sign_in, #create{
    width: 140px;
    height: 60px;
    margin-top: 13px;
}

.create_acc, .return_to_store{
    display: block;
    font-size: 20px;
    margin-top: 60px;
}

.return_to_store{
    margin-top: 45px;
    height: 70px;
}

.input-box .error-label{
    color: red;
}

.error input{
    border-color: red;
}

@media screen and (max-width: 767px) {
    .login{
        width: 320px;
        height: fit-content;
    }

    .sign_in{
        min-height: 750px;
    }

    form, .create_acc, .return_to_store{
        width: 80%;
        margin-top: 50px;
    }

    .return_to_store{
        margin-top: 45px;
    }

    .create_acc{
        margin-top: 80px;
    }
}