html{
    --body-bg: #E5E5E5;
    --white: #fff;
    --beige: #FBF6F0;
    --brown: #270515;
    --blue: #ABC0DB;
}

html[data-theme='dark'] {
    --body-bg: #302929;
    --white: #564040;
    --beige: #453a2d;
    --brown: #b47b45;
    --blue: #3b587f;
}

body{
    background: var(--body-bg);
    margin: 0;
}

#white{
    background: var(--white);
}

#beige{
    background: var(--beige);
}

.button{
    border: 2px solid var(--brown);
    background: var(--brown);

    display: flex;
    justify-content: center;

    color: var(--white);
    text-align: center;
    font-family: Roboto, monospace;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}

.content{
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
    max-width: 1200px;
    width: fit-content;
    height: fit-content;
    display: grid;

    color: var(--brown);
    font-family: Roboto, monospace;
}

header{
    width: 100%;
    height: 75px;
    display: grid;
    padding-bottom: 5px;
    grid-template-rows: 80px;
    grid-template-columns: 14% 12.5% 12.5% 50% 5% 5% auto;
    align-items: center;
}

#logo{
    width: 80%;
    height: 22px;
    margin: auto;
}

#dark_theme{
    margin: auto;

    width: 90%;
    height: 32px;
}

.for_mobile{
    display: none;
}

#lang{
    margin: auto;

    width: 90%;
    height: 32px;
}

a{
    text-decoration: none;
    color: var(--brown);
}

.menu_el{
    padding-left: 10px;
    text-align: right;
    font-size: 0.9rem;
    font-style: normal;
    line-height: 1.1375rem; /* 130% */
    text-transform: uppercase;
    display: inline;
}

#menu{
    margin: auto;
    margin-top: 19px;
}

#menu_b{
    display: none;
}

.menu_list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#user_photo{
    width: 22px;
    height: 22px;

    margin: auto;
}

.cart{
    position: relative;
    margin: auto;
    z-index: 1;
}

#shopping_cart{
    width: 22px;
    height: 22px;

    margin: auto;
}

#cart_num{
    position: absolute;
    z-index: 2;
    right: 50%;
    top: 0;
    background: var(--blue);
    height: 18px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: var(--white);
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
}

#burger-menu{
    display: none;
    background: var(--white);
    position: relative;
    height: 40px;
    width: 40px;
    border: none;

    margin: auto;
    right: 10px;
}

#burger-menu span{
    position: absolute;
    left: 5px;
    width: 30px;
    height: 3px;
    background: var(--brown);
    transition: transform .5s, opacity .5s;
}

#burger-menu span:nth-child(1){
    transform: translateY(-10px);
}

#burger-menu span:nth-child(3){
    transform: translateY(10px);
}

header.open #burger-menu span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

header.open #burger-menu span:nth-child(2){
    opacity: 0;
}

header.open #burger-menu span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

.big_section{
    width: 100%;
    height: 605px;
}

#find_routine{
    width: 400px;

    margin: auto;
    margin-top: 172px;
    
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.2rem;
}

#shop_now{
    margin: 0 auto;
    margin-top: 74px;

    height: 43px;
    width: 133px;

    line-height: 2.65rem;
}

.awards_slider{
    width: 100%;
    height: 300px;
}

.awards_slider .swiper{
    width: 900px; 
    height: 220px;

    margin-top: 60px;
}

.award{
    display: grid;
    grid-template-rows: 120px;
}

.award_img{
    margin: auto;
    width: 120px;
}

.award_p{
    width: 230px;
    margin: auto;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem;
}

.products{
    display: flex;
    width: 100%;
    height: 510px;
}

.prod_img{
    display: block;
    height: 333px;
    object-fit: cover;
    width: 100%;
}

#quick_view{
    height: 40px;
    padding-top: 3px;
}

#product_block{
    margin-top: 51px;
    margin-left: 50px;

    text-align: center;

    width: 333.5px;
}

.prod_name{
    margin-top: 5px;

    font-size: 1.125rem;
    letter-spacing: 0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4625rem;
}

.review_num{
    margin-top: -25px;

    font-size: 0.9375rem;
    letter-spacing: 0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
}

.prod_cost{
    margin-top: -10px;

    font-family: "Open Sans", sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9375rem;
}

.single_review{
    width: 100%;
    height: 173px;
    text-align: center;
}

.big_text{
    margin-top: 35px;

    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0625rem;
    letter-spacing: -0.2rem;
}

.big_author{
    margin-top: -10px;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40625rem;
    letter-spacing: -0.1rem;
}

.eco_bottle{
    display: flex;
    width: 100%;
    height: 713px;
}

.info{
    margin: 0;
    display: inline-block;
    width: 600px;

    text-align: center;
    padding: 0;
}

.little_name{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.975rem; /* 130% */
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
}

.little_name.eco_first{
    margin-top: 47px;
    margin-left: 10px;
}

.big_take{
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
    letter-spacing: -0.1rem;
}

.big_take.eco_first{
    margin-top: 35px;
    margin-left: 10px;
}

.p1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.4px; 
}

.p2{
    margin-left: auto;
    margin-right: auto;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40625rem;
    letter-spacing: -0.05rem;
}

.p2.eco_first{
    margin-top: -27px;
    width: 440px;
}

.p2.eco_second{
    margin-top: 30px;
    width: 450px;
}

.p2.pros_list{
    width: 465px;
    margin-top: 23px;
}

.sep{
    width: 10px;
    height: 10px;
}

#shop_hair_n_body{
    margin-left: 202px;

    margin-top: 32.5px;
    height: 39.5px;
    width: 194px;

    padding-top: 3px;
}

#eco_bottle{
    margin: 0;
    display: inline-block;
    height: 713px;
    width: 599px;
    object-fit: cover;
}

.advantages{
    display: flex;
    width: 100%;
    height: 464.5px;
}

.adv_block{
    display: inline-block;
    margin-top: 58px;
}

.adv_block.first{
    margin-left: 50px;
}

.adv_block.second{
    margin-left: 40px;
}

.adv_block.third{
    margin-left: 39.5px;
}

.adv_img{
    display: block;
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.button.summary{
    padding-top: 3px;

    border: none;
    width: 100%;
    font-family: Roboto, sans-serif;
    height: 38px;
    background: var(--blue);
    color: var(--brown);
    text-transform: none;
}

.text.summary{
    margin-top: 17px;
    text-align: center;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem;
}

.photos_n_buttons{
    width: 100%;
    height: 2607px;
}

.photo_n_btn_block{
    display: flex;
    width: 100%;
}

.info.n_btn{
    display: inline-block;
    height: 649px;
}

.photo{
    width: 600px;
    display: inline-block;
    object-fit: cover;
}

.photo.first{
    height: 658px;
}

.photo.second{
    height: 649px;
}

.photo.third{
    height: 651px;
}

.photo.fourth{
    height: 649.5px;
}

.little_name.first{
    margin-top: 98.5px;
}

.big_take.first{
    margin-top: -5px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.first{
    width: 450px;
    margin-top: -37px;
    margin-left: 75px;
}

.p2.first{
    width: 490px;
    margin-top: 35px;
}

.button.first{
    margin-top: 57.5px;
    margin-left: 185px;
    padding-top: 7px;
    height: 48px;
    width: 218px;
}

.little_name.second{
    margin-top: 102px;
}

.big_take.second{
    margin-top: -11px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.second{
    width: 450px;
    margin-top: -35px;
    margin-left: 75px;
}

.p2.second{
    width: 490px;
    margin-top: -7px;
}

.button.second{
    margin-top: 41.5px;
    margin-left: 214px;
    padding-top: 4px;
    height: 39px;
    width: 169px;
}

.little_name.third{
    margin-top: 115px;
}

.big_take.third{
    margin-top: -11px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.third{
    width: 450px;
    margin-top: -35px;
    margin-left: 75px;
}

.p2.third{
    width: 480px;
    margin-top: -7px;
}

.button.third{
    margin-top: 41.5px;
    margin-left: 223.5px;
    padding-top: 4px;
    height: 38px;
    width: 151px;
}

.little_name.fourth{
    margin-top: 80px;
}

.big_take.fourth{
    margin-top: 2px;
    font-size: 4rem;
    letter-spacing: -0.5rem;
}

.p1.fourth{
    width: 400px;
    margin-top: -45px;
    margin-left: 100px;
}

.p2.fourth{
    width: 490px;
    margin-top: -7px;
}

.button.fourth{
    margin-top: 62px;
    margin-left: 223.5px;
    padding-top: 4px;
    height: 39px;
    width: 151px;
}

.hair_slider{
    width: 100%;
    height: 485px;
}

.hair_slider .swiper{
    margin-left: 50px;
    margin-top: 70px;
    width: 1100px;
    height: 390px;
}

.hair_img{
    width: 300px;
}

.eco_vision{
    background-image: url("../source/eco_background.jpeg");
    width: 100%;
    height: 691px;
}

.eco_info{
    text-align: center;
    margin-top: 75px;
    margin-left: 366px;
    padding-top: 40px;
    width: 468px;
    height: 501px;
}

.big_take.eco{
    margin-top: -10px;
    font-size: 3.5rem;
}

.p2.eco{
    width: 410px;
    margin-top: -25px;
}

.p2.eco2{
    width: 400px;
    margin-top: 25px;
}

.button.eco{
    margin-top: 64px;
    margin-left: 153.5px;
    padding-top: 4px;

    width: 158.5px;
    height: 39px;
}

.eco_pins_slider{
    width: 100%;
    height: 300px;
}

.eco_pins_slider .swiper{
    margin: 0 auto;
    margin-top: 95px;
    width: 800px;
    height: 160px;
}

.pin{
    width: 160px;
    height: 150px;
}

.pin_img{
    height: 120px;
}

footer{
    width: 100%;
    height: 400px;
}

.links_block{
    display: flex;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    margin-top: 10px;
}

.links{
    display: inline-block;
    margin-left: 66px;
    margin-top: 81px;
}

.community{
    display: inline-block;
    margin-left: 105px;
    margin-top: 79px;
}

.contacts{
    display: inline-block;
    margin-left: 115px;
    margin-top: 83px;
}

.join{
    display: inline-block;
    margin-top: 80px;
    margin-left: 50px;
    width: 250px;
}

.rights{
    display: block;

    margin-top: 26.5px;
    margin-left: -7px;

    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.975rem;
}

@media screen and (max-width: 1200px) {
    /**/.content{
        max-width: 768px;
        margin: 0 auto;
    }

    header, .big_section, .awards_slider, .products, .single_review,
    .eco_bottle, .advantages, .photos_n_buttons, .hair_slider, .eco_vision,
    .eco_pins_slider, footer{
        width: 768px;
    }

    header{
        grid-template-columns: 20% 12.5% 12.5% 34% 7% 7% 7%;
        position: relative;
        align-items: center;
    }

    #user_photo{
        z-index: 1;
    }

    #burger-menu{
        z-index: 1;
        display: block;
    }

    #menu{
        visibility: hidden;
    }

    #menu_b{
        display: none;
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0;
        top: 0;
        padding-bottom: 10px;
        padding-top: 70px;
        padding-right: 30px;
        background: var(--body-bg);
        transition: transform .5s;
    }

    .menu_list{
        display: block;
    }

    .menu_el{
        display: block;
        margin: 0;
    }

    header.open #menu_b{
        display: block;
        right: -231px;
        transform: translateX(-100%);
    }

    header.open #burger-menu{
        background-color: var(--body-bg);
    }

    .awards_slider .swiper {
        width: 700px;
        margin: auto;
        margin-top: 60px;
    }

    #product_block, .adv_block {
        margin: auto;
        margin-top: 20px;
        width: 30%;
    }

    .big_text {
        margin-top: 20px;
    }

    .big_author {
        margin-top: -20px;
    }

    .eco_bottle {
        flex-direction: column-reverse;
    }

    .info {
        width: 100%;
        height: 50%;
    }

    #eco_bottle {
        height: 50%;
        width: 100%;
    }

    .little_name.eco_first {
        margin-top: 27px;
    }

    .big_take.eco_first {
        margin-top: 5px;
        /* margin-left: 10px; */
    }

    .p2.eco_second, .p2.pros_list {
        display: none;
    }

    #shop_hair_n_body {
        margin: auto;
        margin-top: 25px;
    }

    .adv_block.first, .adv_block.second, .adv_block.third{
        margin: auto;
    }

    .photo.first, .photo.second, .photo.third, .photo.fourth{
        height: 50%;
        width: 100%;
        order: 1;
    }

    .photo_n_btn_block {
        height: 25%;
        flex-direction: column;
    }

    .info.n_btn{
        height: 50%;
        width: 100%;
        order: 2;
    }

    .little_name.first, .little_name.second, .little_name.third, .little_name.fourth {
        margin: auto;
        margin-top: 15px;
    }

    .big_take.first, .big_take.second, .big_take.third, .big_take.fourth{
        font-size: 3rem;
    }

    .p1.first, .p1.second, .p1.third, .p1.fourth {
        width: 80%;
        margin: auto;
        margin-top: -37px;
    }

    .p2.first, .p2.second, .p2.third, .p2.fourth {
        width: 90%;
        margin: auto;
        margin-top: 15px;
    }

    .button.first, .button.second, .button.third, .button.fourth {
        height: auto;
        padding: 0;
        width: 20%;
        margin: auto;
        margin-top: 15px;
    }

    .hair_slider .swiper {
        margin: auto;
        margin-top: 70px;
        width: 700px;
    }

    .eco_info {
        text-align: center;
        margin: auto;
        margin-top: 70px;
    }

    .eco_pins_slider .swiper{
        margin: auto;
        margin-top: 70px;
        width: 700px;
    }

    .links_block {
        display: grid;
        grid-template-columns: 25% 15% 35% 25%;
    }

    .links, .community, .contacts, .join {
        margin: auto;
        margin-top: 15px;
    }
    .join{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .content{
        min-width: 320px;
        max-width: 767px;
        margin: 0 auto;
    }

    .usual{
        display: none;
    }

    .for_mobile{
        display: inline-block;
    }
}